/* Fix for navbar covering content */
.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
   padding-top: 78px;
}

#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
}